<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue Js Todo App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
<style>
    .completed {
        text-decoration: line-through;
    }

</style>
</head>
<body style="background-color: green">

    <div id= "todoApp" >
        <div class="jumbotron">
            <h1><center>Weekly ToDo List</center></h1>
        </div>
        <h2><center>Add to The Weekly Todo:</center></h2>
        

        <form name="todo-form" method="post" action="" v-on:submit.prevent="addTask">Begin Making List ==>
            <input name="add-todo" type="text" v-model="addTodoInput" v-bind:class="{error: completed}"/>

            <button type="submit">Add</button>
        </form>
        <div class="todo-lists" v-if="lists.length">
            <h3>My Todo</h3>
            <ul>
                <li v-for="list in lists" :key="list.id">
                    <input type="checkbox" v-on:change="completeTask(list)" v-bind:checked="list.isComplete"/>
                    <span class="title"
                    contenteditable="true"
                    v-on:keydown.enter="updateTask($event, list)"
                    v-on:blur="updateTask($event, list)"
                    v-bind:class="{completed: list.isComplete}"> {{list.title}} Time Added: {{ list.dateCreated }} </span>
                    
                </li>
            </ul>
        </div>
    </div>
        
            
            
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/vue.js" charset="UTF-8"></script>
        <script src="js/main.js" charset="UTF-8"></script>
        
</body>
</html>